h2,h4,h3{
    line-height: normal;
}

*{
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 100%;
    box-sizing: border-box;
}
.bestfit > .bestfit1 > h2{
    overflow: visible;
}
.deepika>.pallavi>h4{
    overflow:visible;
}
.footer>.shop>h3,.about>h3,.help>h3,.fable>h2,h4{
    overflow: visible;
}
.fall>p{
    padding-top:10px;
    padding-bottom: 10px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
.carousel-inner{
    height: 400px;
}
.carousel-item{
    height: 100%;
}
.carousel-item>img{
    height: 100%;
}
.navbar{
   padding: 0px;
    position:fixed!important;
    top:0px !important;
    background-color:white;
    width: 100%;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: space-around;

}
.nav_left{
    margin-top: 0px; 
    padding-top: 3px; 
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex; 
    padding-top: 10px;
}
.nav_right,.nav_center{
    gap: 20px;
    display: flex;
}
.nav_left1 > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.nav_left1>a:hover{
    text-decoration:  2px black underline;
}
.nav_center>input{
    height: 20px;
}
.nav_center>i{
    padding-top: 3px;
}
.cantainer{
    width: 98vw;
}
.cantainer>img{
    width: 100%;
}
.contain{
    width: 100%;
    display: flex;
    justify-content:center;
}
.contain>img{
    width: auto;
    padding-top: 18px;
    padding-right: 20px;
}
.contain1{
    width: 100%;
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}
.contain1>img{
    width: 100%;
}
.heading{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading1{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.heading1>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: darkgrey;
    cursor: pointer;
}
.heading1>p:active{
    color: black;
    text-decoration: 2px black underline;
}
.img_container{
    display: flex;
    width: 100%;
    gap: 10px;
}

.img_container1>img,.img_container2>img,.img_container3>img,.img_container4>img{
    width: 100%;
}
.img_container1>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FFSDR1377PRBL_2.jpg%3Fv%3D1730981113&w=1920&q=75);
}
.img_container2>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FFSDR1380MARN_2.jpg%3Fv%3D1730980423&w=1920&q=75);
}
.img_container3>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FSK075FSPK_2.jpg%3Fv%3D1730981237&w=1920&q=75);
}
.img_container4>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FSK131PRRD_2.jpg%3Fv%3D1730981252&w=1920&q=75);
}
.img_container1,.img_container2,.img_container3,.img_container4{
    position: relative;

}
.img_container1>.fa-heart,.img_container2>.fa-heart,.img_container3>.fa-heart,.img_container4>.fa-heart{
    position: absolute;
    left:350px;  
}
.fa-heart:hover{
    color: red;
}
.viewall{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.viewall>button{
    height: 30px;
}

.arraival,.location{
    width: 100%;
}
.arraival>img{
    width: 100%;
    padding-top: 20px;
}
.style{
    padding-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.style>img{
    width: 32.45%;
}
.location>img{
    padding-top: 20px;
    width: 100%;
}
.location+p{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.strike{
    text-decoration: line-through;    
}
.img_popular1>img,.img_popular2>img,.img_popular3>img,.img_popular4>img{
    width: 100%;
}
.img_popular1>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FFSKNTP1232BLST_2.jpg%3Fv%3D1710149795&w=1920&q=75);
}
.img_popular2>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FJK135GREY_2.jpg%3Fv%3D1726144454&w=1920&q=75);
}
.img_popular3>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2F41B3B87B-267B-491E-A0C3-636B9AADBBFB.jpg%3Fv%3D1699358416&w=1920&q=75);
}
.img_popular4>img:hover{
    content: url(https://www.fablestreet.com/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0486%2F0634%2F7416%2Ffiles%2FTR100DSPK_2.jpg%3Fv%3D1718186902&w=1920&q=75);
}
.new{
    position: relative;
    bottom: 560px;
}
.popular{
    display: flex;
    width: 100%;
    gap: 10px;
}
.img_popular1,.img_popular2,.img_popular3,.img_popular4{
    position: relative;
}
.img_popular1>.fa-heart,.img_popular2>.fa-heart,.img_popular3>.fa-heart,.img_popular4>.fa-heart{
    position: absolute;
    left:350px;
}
marquee{
    display: flex;
}
marquee > p{
    display: inline;
    padding-right: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.bestfit{
    padding-left: 200px;
    display: flex;
    align-content:center;
    justify-content: center;
}
.bestfit1>img{
    width: 15%;
}
.bestfit1{
    width: 30%;
}
.bestfit+p{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.deepika{
    padding-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    
}
.pallavi>img,.pallavi>p{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer{
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
}
@media screen and (max-width:400vw){
    .contain{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .popular{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .img_container1>.fa-heart,.img_container2>.fa-heart,.img_container3>.fa-heart,.img_container4>.fa-heart{
        position: absolute;
        left:92%;  
    }
    
    .img_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .img_container1>p,.img_container2>p,.img_container3>p,.img_container4>p,.img_container1>i,.img_container2>i,.img_container3>i,.img_container4>i{
        font-size: 0.7rem;
    }
    .img_popular1>.fa-heart,.img_popular2>.fa-heart,.img_popular3>.fa-heart,.img_popular4>.fa-heart{
        position: absolute;
        left:89%;
    }
    .new{
        position: relative;
        bottom: 92%;
        width: 28px;
    }
    .img_popular1>.star,.img_popular2>.star,.img_popular3>.star,.img_popular4>.star{
        display: none;
    }
    .img_popular1 > p,.img_popular2 > p,.img_popular3 > p,.img_popular4 > p{
        font-size: 0.7rem;
    }
    .img_popular1>.fa-solid,.img_popular1 > span ,.img_popular2>.fa-solid,.img_popular2 > span,.img_popular3>.fa-solid,.img_popular3 > span,.img_popular4>.fa-solid, .img_popular4 > span{
        font-size: 0.7rem;
    }
    .contain1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .viewall{
        font-size: 0.8rem;
        margin-top: 5px !important;
    }
    .location+p{
        font-size: 0.9rem;
    }
    .m1 >p{
        font-size: 1rem;
    }
    .bestfit{
        margin-left: -100px !important;
        display: flex;
        gap: 50px;
        width: 60%;
    }
    .star{
        font-size: 0.5rem;
    }
    .bestfit{
        width: 100vw;
        flex-direction: column;
        margin-left: 20%;
    }
    .bestfit1{
        width: 100%;
    }
    .bestfit1>p,.bestfit1>h2{
        font-size: 0.8rem;
    }
    .deepika{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .pallavi>p{
        font-size: 0.8rem;
    }
    .footer{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .shop>p,.fable>p,.about>p,.help>p{
        font-size: 0.8rem;
        width: 100%;
    }
    .carousel-inner{
        height: 100px;
    }
}
@media  (min-width:401px) and (max-width:768vw) {
    .contain{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .popular{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .new{
        position: relative;
        bottom: 92%;
        width: 33px;
    }
    .img_container1>p,.img_container2>p,.img_container3>p,.img_container4>p,.img_container1>i,.img_container2>i,.img_container3>i,.img_container4>i{
        font-size: 1rem;
    }
    
    .img_popular1>.fa-heart,.img_popular2>.fa-heart,.img_popular3>.fa-heart,.img_popular4>.fa-heart{
        position: absolute;
        left:89%;
    }
    .img_popular1>.star,.img_popular2>.star,.img_popular3>.star,.img_popular4>.star{
        display: none;
    }
    .img_popular1 >  p,.img_popular2 > p,.img_popular3 > p,.img_popular4 > p{
        font-size: 1rem !important;
    }
    .img_popular1>.fa-solid,.img_popular1 > span ,.img_popular2>.fa-solid,.img_popular2 > span,.img_popular3>.fa-solid,.img_popular3 > span,.img_popular4>.fa-solid, .img_popular4 > span{
        font-size: 0.9rem;
    }
    .location+p{
        font-size: 1rem;
    }
    .m1 >p{
        font-size: 1.5rem;
    }
    .bestfit1>p,.bestfit1>h2{
        font-size: 1rem;
    }
    .bestfit{
        width: 100vw;
        display: flex;
        flex-direction: row;
        margin-left: 20%;
    }
    .deepika{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .viewall{
        font-size: 1rem;
        margin-top: 5px !important;
    }
    .location+p{
        font-size: 1.6rem;
    }
    .bestfit+p{
        font-size: 1.8rem;
    }
    .pallavi>p{
        font-size: 1rem;
    }
    .shop>p,.fable>p,.about>p,.help>p{
        font-size: 1rem;
        width: 100%;
    }
    .carousel-inner{
        height: 300px;
    }
}
@media (min-width:769px) and (max-width:1024vw){
    .contain,.popular,.deepika,.img_container,.contain1,.footer{
        display: flex;
    }
    .bestfit1>p,.bestfit1>h2{
        font-size: 1.2rem;
    }
    .bestfit+p{
        font-size: 2rem;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .fable{
        width: 60%;
    }
    .carousel-inner{
        height: 550px;
    }
    .parent{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 100%;
    }
    .child-2
    {
       width: 100%;
       display: block;
    }
    .na{
        width: 20vw;
    }
    .ham-icon{
        display: none;
    }
    
}
@media (min-width:1025px) and (max-width:1440vw){
    .bestfit1>p,.bestfit1>h2{
        font-size: 1.3rem;
    }
    .bestfit+p{
        font-size: 2rem;
    }
    .shop>p,.fable>p,.about>p,.help>p{
        font-size: 0.9rem;
        width: 100%;
    }
}
@media (max-width:1441px){
    .fable{
        gap: 50px;
        width: 80%;
        margin-right: 50px;
    }
    .carousel-inner{
        height: 600px;
    }
}

